.section{
    position: relative;
    background-color: rgb(0, 0, 0);
    min-height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;

}
.section>.link>.plus{
    position: fixed;
    bottom: 100px;
    right: 120px;
}

.section>.link>.plus{
    font-size: 50px;
    transition: .7s;
    color: #fff;
    
}.section>.link>.plus:hover{
     transform: rotate(360deg);
     font-size: 70px;
     color: rgb(79, 229, 252);
}
@media (max-width:787px) {
    .section>.link>.plus{
        display: block;
        right: 10px;
    }
}