.userinform{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    justify-content: center;
    border: 0.1px solid #ffffff4f;;
    margin: 0px 10px;
    color: #fff;
    padding: 5px 5px;
    border-radius: 10px;
  

}.userinform_header{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    padding: 5px;
    
    border-radius: 10px;
    
}.userinform>.userinform_header>.nameuser{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
}
.userinform_header>.avatar{
    cursor: pointer;
}