.usermessage{
    max-width: 100%;
    position: relative;
    max-height: 85vh;
    overflow: scroll;
    padding: 10px 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    top: 20px;
    display: none;

}
.usermessage>.users{
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: 10% 90%;
    background-color: rgb(149 149 149);
    padding: 8px 5px;
    border-radius: 10px;
    align-items: center;
    gap:10px
}
@media (max-width:426px) {
     .usermessage{
        display: flex;
        border-radius: 10px;
     }
}
.usermessage>.users>.userinfo{
    display: flex;
    flex-direction: wrap;
    gap: 5px;
    align-items: center;
    
    
}