.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
    min-width: 300px;
    width: 30%;

    justify-content: center;
    background:linear-gradient(134deg,rgb(172, 231, 249) ,rgb(186, 224, 248)) ;
}
.form>a{
    text-align: center;
    text-decoration: none;
    color: blue;
}