.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 5px 10px;
    background-color:rgb(0, 30, 60);
    align-items: center;
    position: fixed;
    z-index: 10;
    color: #fff;

}
.header>h4{
    font-size: 30px;
}
.header>.right>.outIcon{
    font-size: 40px;
    cursor: pointer;
}
.header>.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.header>.right>.outVis{
    color: black;
    top: 12px;
    right: 55px;
    background-color: aqua;
    padding: 3px 7px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}.header>.right>.outVis>.accOut{
    cursor: pointer;
}
@media (max-width:426px) {

    .header>.right,.outIcon{
        display: none;
    }
    
}
.header>.menu{
    display: none;
    
}
@media (max-width:426px) {
    .header{
        justify-content: space-between;
    }
    .header>.menu{
        display: block;
        cursor: pointer;
        font-size: 40px;
    }
}
.header>.setting{
    display: inline-flex;
    
    gap: 30px;
    background-color:rgb(0, 30, 60);
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100vh;
    padding: 20px 0px 0px 0px;
    z-index: 1000;

}
.top_setting{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
}
.setting>.top_setting>.clear{
    cursor: pointer;
    color: #fff;
    font-weight: 700;
}
.header>.setting>.top_setting>.settingHeader{
    background-color: rgb(32, 166, 239);
    display: flex;
    flex-direction: row;
    gap: 10px;
    height:10%;
    padding: 5px;
    border-radius: 15px;
}.settingHeader>.top_setting>.userIcon{
    border-radius: 10px;
    padding: 2px;
    font-size: 30px;
    background-color: rgb(252, 251, 253);
}

.settingHeader>.top_setting>.emailOut{
    display: flex;

    max-height:min-content;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-end;
    color: rgb(9, 9, 9);
}.emailOut>p{
    background-color: #fff;
    padding: 5px 5px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    max-width: 98%;
}.emailOut>.exit{
    cursor: pointer;
    
}