.headermobile{
    display: none;
    justify-content: space-between;
    width: 98%;
    position: relative;
    padding: 2px 5px;
    
}.headermobile>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media (max-width:426px) {
    .headermobile{
        display: flex;
    }
}