.search{
    width: 98%;
    position: relative;
    display: none;
    margin-top: 10px;
}

.search>.searchs{
   width: 100%;
}
.search>.icon{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
}
.search>.searchs>input{
    border-color: aliceblue;
}
.search>.searchs>fieldset{
    color: aliceblue;
}
@media (max-width:426px) {
    .search{
        display: flex;
    }
}